{% assign process_step = site.data.codes.process_step[include.msp.process_step] %}
{% assign authority = site.authorities | where:"slug", include.msp.authority | first %}
{% assign has_previous_author = false %}

<article class="hentry">
    <header>
      {% if include.msp.image %}
        <div class="entry-image-index">
          <img src="{{ site.url }}/images/{{ include.msp.image }}" alt="{{ include.msp.title }}">
        </div><!-- /.entry-image -->
      {% endif %}
      <div class="entry-meta">
        <span class="author">

          {% for authority in site.authorities %}        
            {% if include.msp.author contains authority.slug %}   
              {% if has_previous_author %}
              <span style="margin-left: 0.5em; margin-right: 0.5em;"> | </span>
              {% endif %}
              {% assign has_previous_author = true %}
              <a href="{{ authority.url }}" title="{{ authority.title }}">{{ authority.title }}</a>  
            {% endif %}   
          {% endfor %}

          <a href="{{ authority.website }}" title="{{ authority.title }}" target="_blank">{{ authority.title }}</a>
        </span>
        <span class="tag process-step {{ include.msp.process_step }}" title="{{ process_step.description }}">
            {{ process_step.name }}
        </span>
      </div><!-- /.entry-meta -->
      <!--<h1 class="entry-title">{{ post.title }}</h1>-->
    </header>
    <div class="entry-content">
      <h3>{{ include.msp.title }}</h3>
      {{ include.msp.content }}
      {% if include.msp.website %}
      <div class="buttons">
        <a href="{{ include.msp.website }}" class="btn btn-info">View Details</a>
      </div>
      {% endif %}
    </div><!-- /.entry-content -->
</article><!-- /.hentry -->