---
layout: default
title: MSP Authority
---

{% include authority-entry.html authority=page include_image=true %}

{% assign authority_posts = site.posts | where_exp:"post", "post.author contains page.slug" %}

{% if authority_posts != empty %}
<article class="hentry">
    <div class="entry-content">
      <p><strong>{{ site.strings.msp_list_by }} {{ page.title }}</strong></p>
      <ul>          
        {% for post in authority_posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li> 
        {% endfor %}
      </ul>
    </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endif %}

{% include read-more.html %} 